<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>
</head>
<body> 
    <h1>Chatbot App</h1>
    <hr>    
    <form action="" method="POST">
        {% csrf_token %}
        User: <input type="text" name="user" required><br><br>
        <input type="submit" name="" id="">
        <h3>{% if result%}
            EaseBot: {{result}}
                {% endif %}
        </h3>
    </form>

</body>
</html>